/* sample spreadshet - you should replace all of this! */
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #e9e9e9;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
  }

h2 {
  font-size: 1.7em;
}

p {
  font-size: 1.5em;
}

  nav {
    width:100%;
    overflow: auto;
    background-color: #e9e9e9;
    border-bottom: 1px solid #bbb;

  }
  
  nav a {
    float: left;
    padding: 12px;
    color: black;
    text-decoration: none;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 17px;
    width: 24.7%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
    text-align: center; /* If you want the text to be centered */
    border-left: 1px solid #bbb;
    
  }

  nav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  nav a.active {
    background-color: #2196F3;
    color: white;
  }
  
  #search-form label{
    margin-top: 20px;
    align-items: center;
    /* padding: 0px 16px; */
    border: none;
    font-size: 19px;
    width: 75%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
  }

  .form-input input{
    /* margin-top: 20px; */
    align-items: center;
    /* padding: 0px 16px; */
    border: 1px solid #bbb;
    /* border-top: none; */

    font-size: 19px;
    width: 75%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
  }

  
  @media screen and (max-width: 450px) {
    nav a {
      float: none;
      display: block;
      text-align: center;
      width: 100%;
      align-items: center;
      border-bottom: 1px solid #bbb;

    }
  }

  @media screen and (max-width: 450px) {
    .form-input input {
        float: none;
        /* display: block; */
        text-align: left;
        /* width: 100%; */
        align-items: center;
    }
  }

  @media screen and (max-width: 450px) {
    .form-input label {
        float: none;
        text-align: center;
        width: 100%;
        align-items: center;
        padding-top: 10px;
        padding-bottom: 10px;
      }
  }

    header button{
        float: none;
        padding: 6px;
        background: #e9e9e9;
        font-size: 17px;
        cursor: pointer;
        width: 25%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
        border-left: 1px solid #bbb;
        border-right: 1px solid #bbb;
        border-top: none;
        border-bottom: none;
      }

    header button:hover {
        background-color: #ddd;
        color: black;
      }

header {
    width: 100%;
    background-color: #e9e9e9;
    border-bottom: 1px solid #bbb;

}

#heading {
    /* background-color: gainsboro; */
}

#whatis {
    width: 100%;
    float: none;
    background-color: forestgreen;
    border-top: 10px solid orchid;
    border-bottom: 10px solid orchid;
    align-items: center;
    text-align: center;
    display: block;

}

#whatis p {
margin: 10px;
}

#registration {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  float: none;
  background-color: rosybrown;
  align-items: center;
  text-align: center;
  /* display: block; */
}

  #registration-form label { 
  font-weight: bold;
  width: 100%;
  align-items: center;
  text-align: center;
  display: block;
  padding-top: 20px;
  margin: 0;
  /* padding-bottom: 10px; */
  font-size: 1.5em;

}

#registration h2 {
  margin: 10px;
  }

#registration-form input {
  width: 200px;
  }

#registration-form .form-submit {
  padding: 12px;
  }

  #registration-form input[type=submit] { 
    float: none;
    padding: 6px;
    font-size: 17px;
    cursor: pointer;
    font-weight: bold;
    width: 207px;
  }

  .like-button{
    float: none;
    padding: 6px;
    font-size: 17px;
    cursor: pointer;
    font-weight: bold;
    width: 207px;
    margin: 20px;
  }

  .flowtow {
    width:100%;
    overflow: auto;
    background-color: #e9e9e9;
    border-bottom: 1px solid #bbb;

  }
  
  .flowtow {
    float: left;
    padding: 12px;
    color: black;
    text-decoration: none;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 10px;
    width: 33.2%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
    text-align: center; /* If you want the text to be centered */
    border-left: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    border-top: 1px solid #bbb;
    
  }
  
  .recentposts, .popularposts {
    width:100%;
    overflow: auto;
    background-color: #e9e9e9;
    border-bottom: 1px solid #bbb;

  }
  
  .recentposts, .popularposts {
    float: left;
    padding: 12px;
    color: black;
    text-decoration: none;
    padding: 10%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 12px;
    width: 30%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
    text-align: center; /* If you want the text to be centered */
    /* border-left: 1px solid #bbb; */
    /* border-right: 0.5px solid #bbb; */
    border-bottom: 1px solid #bbb;
    border-top: 1px solid #bbb;
    
  }

 
  .popularposts td, .recentposts td{
  
    border-bottom: 1px solid #bbb;
    width: 25%;
  }

  @media screen and (max-width: 220px) {
    #registration-form input {
      width: 75%;
      float: none;
      text-align: left;
      align-items: center;
    }
  }

  @media screen and (max-width: 220px) {
    #registration-form input[type=submit] { 
      text-align: center;
      width: 100%;
  }
}

@media screen and (max-width: 220px) {
  .like-button { 
    text-align: center;
    width: 100%;
    margin: 0;
    width: 75%;
  }
}

footer {
  background-color: #e9e9e9;
}

img {
    max-width: 90%;
    height: auto;
}

li {
  display: list-item;
  text-align: center;
  font-size: 1.5em;
  width: 100%;

}

#recent-users li{
  display: inline;
  padding: 10px;
}

#social {
  margin-top: 10px;
  width:100%;
  overflow: auto;
  background-color: #e9e9e9;
  border: 1px solid #bbb;
  list-style-type: none;
}

.footer-tos {
  width:100%;
  overflow: auto;
  background-color: #e9e9e9;
  border: 1px solid #bbb;
  list-style-type: none;
}

#social a, .footer-tos a {
  float: left;
  padding: 12px;
  color: black;
  text-decoration: none;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 17px;
  width: 33.2%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
  text-align: center; /* If you want the text to be centered */
  border-left: 1px solid #bbb;
}

#social a:hover, .footer-tos a:hover {
  background-color: #ddd;
  color: black;
}

#social a.active, .footer-tos a.active {
  background-color: #2196F3;
  color: white;
}

@media screen and (max-width: 146px) {
  h1 {
    font-size: 0.7em;
    }

  h2 {
    font-size: 0.5em;
    }

  p {
    font-size: 0.5em;
    }

  li {
    font-size: 0.2em;
  }

  #registration-form input[type=submit] {
    font-size: 0.2em;
    padding-left: 0;
    padding-right: 0;
  }

  #registration-form input {
    font-size: 0.2em;
  }

  #registration-form label { 
    font-size: 0.5em;
  }

  .form-input label {
    font-size: 0.2em;
  }

  nav a {
    font-size: 0.8em;
  }

  #search-form label{
    font-size: 0.2em;
  }

  .form-input input{
    font-size: 0.2em;
  }

  header button{
    font-size: 0.2em;
    padding: 0;
  }

  .like-button{
    font-size: 0.2em;
    padding-left: 0;
    padding-right: 0;
    width: 70%;
    margin: 5px;
  }
}