<!--
  Student Name:  Jamie Lorenz
  Student Number: 46039198
-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>FlowTow</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/style.css" type="text/css" />

    <!-- Include Handlebars from a CDN -->
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
    <script src="./js/main.js" type="module" defer></script>
    <script src="./js/sample.json" type="module" defer></script>
	<script src="./js/views.js" type="module" defer></script>
    <script src="./js/model.js" type="module" defer></script>
    <script src="./js/service.js" type="module" defer></script>
    <script src="./js/util.js" type="module" defer></script>
    
  </head>
  <body>
  
    <header>
      <div id="navbar"></div>
      <nav>
        <ul>
          <li><a href="#">Home</a></li>
		  <li><a href="#!/all-posts">All Posts</a></li>
          <li><a href="#!/my-posts">My Posts</a></li>
          <li><a href="#whatis">About</a></li>
        </ul>
      </nav>
    </header>

    <div id="user_images">               
           
        

          <script id="user_image_table" type="text/x-handlebars-template">
		  <h1>Welcome to FlowTow</h1>
		  
          {{#each uimage}}
                        
              <div class="flowtow">

                <img src="{{p_url}}">
                <P><strong>{{p_caption}} / by {{p_author}} | {{p_likes}} likes</strong></P>

              </div>

              {{/each}}
          </script>      
    </div>
	
	<div id="recent_popular">
	
      <script id="user_image_table" type="text/x-handlebars-template">

        <div class="recentposts">
          <h1>Recent Posts</h1>
          <table>
          {{#each uimage}}   
        
            <tr><td><img src="{{p_url}}"></td><td>{{p_caption}}</td> <td>by {{p_author}}</td><td>{{published_at}}</td><td>{{p_likes}} likes</td></tr>     

          {{/each}}
          </table>
        </div>

        <div class="popularposts">
          <h1>Popular Posts</h1>
          <table>
          {{#each uimage}}

            <tr><td><img src="{{p_url}}"></td><td>{{p_caption}}</td> <td>by {{p_author}}</td><td>{{published_at}}</td><td>{{p_likes}} likes</td></tr>
            
          {{/each}}
          </table>
        </div>
      </script>
    </div>	

    <footer>	
      <div id="social">
        <ul>
          <li id="social-twitter"><a href="#">Twitter</a></li>
          <li id="social-facebook"><a href="#">Facebook</a></li>
          <li id="social-instagram"><a href="#">Instagram</a></li>
        </ul>
      </div>

      <ul class="footer-tos">
        <li><a href="#">Terms</a></li>
        <li><a href="#">Privacy</a></li>
        <li><a href="#">Cookies</a></li>
      </ul>
	  
	  <div id="about">
        <ul>
         <a name="whatis"></a>
         <h1 id="about_head">What is FlowTow?</h1>
         <p id="about_social">FlowTow is a new exciting social network for sharing images and giving feedback.</p>
        </ul>
      </div>

      <p id="copyright">All content and images subject to copyright &copy; COMP2110/6110 FlowTow 2021.</p>
    </footer>    
    
  </body>
</html>
