header {
  margin: 10px 0;
  background-color: #5acf8f;
  padding: 15px;
}

p {
  padding: 20px;
  font-size: large;
}

body {
  background-color: linen;
  
}

h1 {
  text-align: center;
  color: blue;
}

nav {
  text-align: center;  
  font-size: 20px;
  background-color: #42c47c;
  grid-row: 2;
  padding: 15px;
  margin: 10px 0;
}

nav a {
  color: white;
  padding: 15px 50px;
  text-decoration: none;
  text-align: right;
}

nav a:hover {
  background-color: #111111;
}

nav a:active {
  background-color: #01a739;
}

.container {
  display: grid;
  grid-template-columns: 2fr 2fr;
  gap: 20px;
}

.sidebar-left {
  grid-column: 1/4;
  grid-row: 3;
}

.content {
  grid-column: 2;
  grid-row: 3;
}

.favourite {
  border: 1px solid #dddddd;
  background-color: white;
  padding: 20px;
  margin: 10px 0;
}

h3 {
  color: #3cb371;
  font-size: larger;
  padding-left: 40px;
}

h4 {
  color: #3cb371;
  font-size: larger;
  padding-left: 40px;
}

#units_completed {
  color: #3c3c3c;
  margin: 10px 0;
  padding: 10px;
}

h5 {
  font-size: x-large;
  font-weight: bold;
  padding-left: 40px;
  color: #3cb371;
}

table {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  font-size: 10pt;
  text-align: left;
  border-collapse: collapse;
}

td,
th {
  border: 1px solid #b4b4b4;
  padding: 10px;
}

tr:nth-child(even) {
  background-color: #b4b4b4;
}

footer {
  margin: 10px 0;
  background-color: #5acf8f;
  text-align:center;
  padding: 15px;
  grid-column: 1/4;
  grid-row: 4;
}

/* #grid {

}

  */
