/* Jamie Lorenz : 46039198 */

html {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: linen;
  text-decoration: none;
}

header {
  display: block;
  height: fit-content;
  margin: 3% 3% 1% 3%;
  background-color: #5acf8f;
  padding: 15px 16px;
  background-image: linear-gradient(
    to right,
    #5acf8f,
    rgba(173, 216, 230, 0.856)
  );
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 5px;
}

#search-form {
  display: inline-flexbox;
  font-size: large;
  font-style: italic;
  padding: 10px;
}

#heading {
  background-color: gainsboro;
  padding: 1%;
  margin: auto;
}

nav {
  display: block;
  block-size: auto;
  margin: 1% 2% 1% 2%;
  border-style: ridge;
  border-width: 2pt;
  border-color: rgba(110, 206, 185, 0.3);
  background-color: #42c47c;
  background-image: linear-gradient(to right, #42c47c, rgb(141, 238, 178, 0.3));
}

nav li {
  display: inline-block;
}

nav ul {
  overflow: hidden;
  border-radius: 1%;
  padding: 10px;
  margin: 0;
}

nav li a {
  display: inline-block;
  color: white;
  font-size: larger;
  text-decoration: none;
  text-align: center;
  padding: 10px;
}

li a:hover:not(.active) {
  background-color: #d8d0d0;
  text-decoration: none;
  color: rgb(6, 77, 21);
}

#search-form input[id=search-input]:focus {
  width: 80%;
  border: none;
}

#search-input {
  border: none;
  display: inline-block;
  cursor: pointer;
  padding: 1%;
  width: 20%;
}

#search-button {  
  margin-left: 10%;
  margin-top: 1%;
  font-size: 12px;
}

button {
  display: block;
  width: 5%;
  height: 8%;
}

#search-button:hover:not(.active) {
  color: #0d0e13;
  font-size: 16px;
  font-weight: bold;
  size: auto;
  cursor: pointer;
}

#content {
  margin: 1% 3% 1% 3%;
  text-decoration: none;
}

h1 {
  text-align: center;
  color: #081b8b;
  font-size: 34pt;
  padding-top: 1%;
}

h2 {
  text-align: left;
  padding-left: 4%;
  color: #0f29bd;
  font-size: 26pt;
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-size: larger;
  color: #2f1ec9;
}

.most-popular-first {
  display: table-row;
  align-self: centerS;
  margin: 20px;
  padding: 1%;
}

.most-popular-second {
  margin: 3% 3% 3% 5%;
  padding-top: 1%;
  text-decoration: none;
}

.most-popular-third {
  margin: 3% 3% 3% 5%;
  padding-top: 1%;
  text-decoration: none;
}

.flowtow ul {
  align-items: center;
  text-decoration: none;
  background-color: rgb(163, 161, 161);
  border-radius: 1%;
  padding-bottom: 1%;
}

.flowtow li {
  list-style-type: none;
  text-align: left;
  font-size: larger;
  color: #010f5a;
}

li img {
  padding-bottom: 10px;
}

.like-button:hover:not(.active) {
  background-color: rgb(75, 170, 111);
  border: none;
  border-style: none;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.like-button {
  display: inline-block;
  background-color: rgb(127, 139, 132);
  text-decoration: none;
  border: none;
  color: #dfe1ec;
  font-size: 16px;  
  margin: 1%;
  size: auto;
}

img {
  width: 86%;
  height: auto;
  display: block;
  block-size: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 2%;
  margin: 5pt;
}

#whatis,
#registration,
#recent-users {
  margin: 1% 0% 1% 0%;
}

#whatis {
  display: block;
  background-color: rgb(136, 173, 136);
  background-image: linear-gradient(to right, rgb(54, 148, 54), lightblue);
  padding: 3%;
}

#whatis p {
  font-size: larger;
  color: #081b8b;
}

#registration {
  display: block;
  width: 50%;
  align-self: left;
  margin-left: 0;
  height: fit-content;
  padding: 2%;
  background-color: rosybrown;
  background-image: linear-gradient(
    to right,
    rosybrown,
    rgba(220, 200, 200, 0.815)
  );
  font-size: 15pt;
}
#registration h2 {
  text-align: left;
  flex-wrap: wrap;
  flex-shrink: inherit;
  padding-left: 50pt;
}

label {
  color: #081b8b;
}

#registration .form-input {
  text-size-adjust: inherit;
  font-size: 15pt;
}

.form-input {
  float: inline-end;
}

input[type="text"]:focus {
  background-color: rgb(194, 202, 199);
}

#flowtow {
  text-decoration: none;
}

#recent-users {
  background-color: rgb(192, 150, 223);
  background-image: linear-gradient(
    to right,
    rgb(192, 150, 223),
    rgb(220, 200, 250, 0.815)
  );
  height: fit-content;
  padding: 1%;
}

#recent-users p {
  font-size: 14pt;
  padding-left: 2%;
}

#recent-user-list {
  font-size: 12pt;
  text-decoration: none;
}

#recent-user-list {
  text-decoration: none;
  font-stretch: unset;
  font-size: 14pt;
}

footer {
  display: block;
  margin: 1% 3% 1% 3%;
  background-color: #5acf8f;
  background-image: linear-gradient(to right, #5acf8f, lightblue);
  text-decoration: none;
  font-size: 14pt;
  padding: 15px 16px;
}

#social li a {
  text-decoration: none;
}

.footer-tos li a {
  display: block;

  text-decoration: none;
}

#copyright {
  text-align: center;
  padding-bottom: 1pt;
  font-size: 12pt;
}
