
/*  Csss for Grid Buttons index1 html */


body {
    color: bisque;
    background-color: blueviolet;
}

h1 {
    text-align: center;
    color: darkred;
    font-size: xx-large;
}

p {
    font-size: xx-large;
    color: yellow;
    padding-left: 5%;
}

#actions {
    background-color: cornflowerblue;
    list-style-type: none;
    display: grid;
    grid-template-columns: 100px 100px;
    padding: 0;
    width: 205px;
    margin: auto;
    gap: 5px;
    
}

#actions li {
    background-color: crimson;
    display: inline-block;
}

#actions button {
    background-color: darkgreen;
    color: wheat;
    font-weight: bold;
    width: 100px;
    height: 100px;
}