/* Jamie Lorenz : 46039198 */

html {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: linen;
  text-decoration: none;
  width: 100%;
}

header {
  display: block;
  height: 1.5%;
  margin: 1% 3% 1% 3%;
  background-color: #5acf8f;
  padding: 0.2em;
  background-image: linear-gradient(
    to right,
    #5acf8f,
    rgba(173, 216, 230, 0.856)
  );
}

/*
header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  /*padding: 5px;
}   
*/

#search-form {
  display: inline-block;
  font-size: larger;
  font-style: italic;
  padding: 10px;
}

#heading {
  background-color: gainsboro;
  padding: 1%;
  margin: auto;
}

nav {
  display: block;
  block-size: auto;
  margin: 1% 2% 1% 2%;
  border-style: ridge;
  border-width: 0.1em;
  border-color: rgba(11, 161, 129, 0.3);
  background-color: #42c47c;
  background-image: linear-gradient(to right, #42c47c, rgb(141, 238, 178, 0.3));
}

nav li {
  display: inline-block;
}

nav ul {
  overflow: hidden;
  text-decoration: none;
  border-radius: 1%;
  padding: 10px;
  margin: 0;
  border: darkgreen;
  border-style: solid;
  border-width: 0em;
}

nav li a {
  display: inline-block;
  color: white;
  font-size: large;
  text-decoration: none;
  text-align: center;
  padding: 10px;
}

li a:hover:not(.active) {
  background-color: #d8d0d0;
  text-decoration: none;
  color: rgb(6, 77, 21);
}

#search-form {
  width: 100%;
}

.form-input[id="search-input"]:focus {
  border: none;
}

#search-input {
  border: none;
  display: inline-block;
  cursor: pointer;
  padding: 1%;
  width: 60%;
  size: 2em;
}

#search-button {
  margin-left: 10%;
  margin-top: 1%;
  font-size: 1em;
  text-align: center;
}

button #search-button {
  display: block;
  width: 2em;
  height: 1em;
}

#search-button:hover:not(.active) {
  color: #0d0e13;
  font-weight: bold;
  size: auto;
  cursor: pointer;
}

#content {
  margin: 1% 3% 1% 3%;
  text-decoration: none;
}

h1 {
  text-align: center;
  color: #081b8b;
  font-size: 4em;
  padding-top: 1%;
}

h2 {
  text-align: float-left;
  padding-left: 4%;
  color: #031786;
  font-size: 2em;
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-size: 1em;
  color: #081b8b;
}

.most-popular-first {
  display: table-row;
  align-self: centerS;
  margin: 20px;
  padding: 1%;
}

.most-popular-second {
  margin: 3% 3% 3% 5%;
  padding-top: 1%;
  text-decoration: none;
}

.most-popular-third {
  margin: 3% 3% 3% 5%;
  padding-top: 1%;
  text-decoration: none;
}

.flowtow ul {
  text-decoration: none;
  background-color: rgb(163, 161, 161);
  border-radius: 1%;
  padding-bottom: 1%;
}

.flowtow li {
  list-style-type: none;
  text-align: left;
  font-size: 1.2em;
  color: #010f5a;
}

li img {
  padding-bottom: 1%;
}

.like-button:hover:not(.active) {
  background-color: rgb(75, 170, 111);
  border: none;
  border-style: none;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
}

.like-button {
  display: inline-block;
  background-color: rgb(127, 139, 132);
  text-decoration: none;
  border: none;
  color: #dfe1ec;
  margin: 1%;
  size: auto;
}

 .recentposts, .popularposts {
    width:100%;
    overflow: auto;
    background-color: #e9e9e9;
    border-bottom: 1px solid #bbb;
 }
	

.recentposts, .popularposts {
    float: left;
    padding: 12px;
    color: black;
    text-decoration: none;
    padding: 10%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 12px;
    width: 30%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
    text-align: center; /* If you want the text to be centered */
    /* border-left: 1px solid #bbb; */
    /* border-right: 0.5px solid #bbb; */
    border-bottom: 1px solid #bbb;
    border-top: 1px solid #bbb;
    
  }

 
  .popularposts td, .recentposts td{
  
    border-bottom: 1px solid #bbb;
    width: 25%;
  }

img {
  width: 86%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 2%;
  margin: 1%;
}

#whatis,
#registration,
#recent-users {
  margin: 1% 0% 1% 0%;
}

#whatis {
  display: block;
  background-color: rgb(136, 173, 136);
  background-image: linear-gradient(to right, rgb(54, 148, 54), lightblue);
  padding: 3%;
}

#registration {
  display: block;
  padding-left: 1%;
  padding-top: 0.4%;
  background-color: rosybrown;
  background-image: linear-gradient(
    to right,
    rosybrown,
    rgba(220, 200, 200, 0.815)
  );
  font-size: 1.2em;
}

#registration-form {
  padding: 1%;
}

#registration h2 {
  text-align: left;
  flex-wrap: wrap;
  flex-shrink: inherit;
  padding-left: 50pt;
}

.form-submit input:hover:not(.active) {
  background-color: rgb(155, 160, 156);
  border: none;
  color: antiquewhite;
  border-style: none;
  font-size: 1em;
  cursor: pointer;
}

label {
  color: #081b8b;
}

.form-input {
  font-size: 0.9em;
  margin: 0.5%;
}

input[type="text"]:focus {
  background-color: rgb(244, 248, 246);
  color: #040308;
}

#heading {
  width: 100%;
  display:inline-table;
}


#flowtow {
  text-decoration: none;
}

#recent-users {
  background-color: rgb(192, 150, 223);
  background-image: linear-gradient(
    to right,
    rgb(192, 150, 223),
    rgb(220, 200, 250, 0.815)
  );
  height: fit-content;
  padding: 1%;
}

#recent-users p {
  font-size: 1.2em;
  padding-left: 2%;
}

#recent-user-list a {
  font-size: large;
  text-decoration: none;
}

#recent-user-list {
  text-decoration: none;
}

footer {
  display: grid;
  grid-template-columns: auto auto;  
  margin: 1% 3% 1% 3%;
  background-color: #5acf8f;
  background-image: linear-gradient(to right, #5acf8f, lightblue);
  text-decoration: none;
  font-size: 1.2em;
}

#social {
  grid-column: 1;
  grid-row: 1;
}


footer #social {
  grid-row: 1; 
  grid-column: 1;
  text-decoration: none;
  display: inline;
}

footer #social ul {
  display: inline-block;
  list-style-type: none;
}

footer #social li a {
  display: block;
  color: rgb(5, 126, 41);
}

.footer-tos {
  display: inline;
  grid-column: 2;
  grid-row: 1;
}

.footer-tos li {
  text-align: center;
  list-style-type: none;
}

.footer-tos li a {
  text-align: center;
  color: rgb(5, 126, 41);
}

#copyright {  
  grid-row: 2;
  grid-column: 1 / span 2;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  align-items:stretch;
  text-align: center;
  font-size: 0.7em; 
}
